<%= form_tag update_plugin_configuration_path, :class => 'form-horizontal' do %>
    <div class="form-group">
      <%= label_tag :account_number, 'Account number', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :account_number, @configuration[:account_number], :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :license_key, 'License key', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :license_key, @configuration[:license_key], :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :company_code, 'Company code', :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= text_field_tag :company_code, @configuration[:company_code], :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= label_tag :test, 'Company code', :class => 'control-label' do %>
              <%= check_box_tag :test, '1', @configuration[:test] %>Test mode?
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag 'Save', :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
